<div class="container">
    <h2 class="mt-5 mb-4">Celebrity Form</h2>
    <form action="/celebrities/create" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="occupation">Occupation:</label>
        <input type="text" class="form-control" id="occupation" name="occupation" required>
      </div>
      <div class="form-group">
        <label for="catchPhrase">Catchphrase:</label>
        <input type="text" class="form-control" id="catchPhrase" name="catchPhrase" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>